<mat-toolbar color="primary">
    <mat-toolbar-row fixLayout="row">
        <span>Forgot Password?</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>        
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="forgotPasswordForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" required>
        
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>


<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)">
        <mat-icon>send</mat-icon> Send
        </button>
        
        <button mat-raised-button color="warn" mat-dialog-close>
            <mat-icon>close</mat-icon>Close
        </button>

</div>
