<mat-toolbar color="primary">
    <mat-toolbar-row fixLayout="row">
        <span>SignUp</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>        
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="signupForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="signupForm.controls.name.touched && signupForm.controls.name.invalid">
                    <span *ngIf="signupForm.controls.name.errors.required">This field is mandatory</span>
                    <span *ngIf="signupForm.controls.name.errors.pattern">This field is invalid</span>
                </mat-error>

            </mat-form-field>

            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Contact Number</mat-label>
                <input matInput formControlName="contactNumber" required>
                <mat-error *ngIf="signupForm.controls.contactNumber.touched && signupForm.controls.contactNumber.invalid">
                    <span *ngIf="signupForm.controls.contactNumber.errors.required">This field is mandatory</span>
                    <span *ngIf="signupForm.controls.contactNumber.errors.pattern">This field is invalid</span>
                </mat-error>

            </mat-form-field>

            <mat-form-field appearance="standard" fxFlex>
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="signupForm.controls.email.touched && signupForm.controls.email.invalid">
                    <span *ngIf="signupForm.controls.email.errors.required">This field is mandatory</span>
                    <span *ngIf="signupForm.controls.email.errors.pattern">This field is invalid</span>
                </mat-error>

            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="password" [type]="password ? 'password' : 'text'" formControlName="password" required>
                <mat-icon matSuffix (click)="password = !password">{{password ? 'visibility_off' : 'visibility'}}</mat-icon>
                               
                <mat-hint *ngIf="!signupForm.controls.password.value">Enter your password</mat-hint>
                

            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="password" [type]="password ? 'confirmPassword' : 'text'" formControlName="confirmPassword" required>
                <mat-icon matSuffix (click)="confirmPassword = !confirmPassword">{{confirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                
                <mat-hint *ngIf="!signupForm.controls.confirmPassword.value">Confirm your password</mat-hint>
                <mat-hint *ngIf="validateSubmit() && (signupForm.controls.confirmPassword.invalid)">
                    <span>New password & confirm password does not match</span>
                </mat-hint>
                

            </mat-form-field>

            

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
<button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="validateSubmit()">
<mat-icon>save</mat-icon> Signup
</button>
<button mat-raised-button color="warn" mat-dialog-close><mat-icon>cancel</mat-icon><mat-icon>Close</mat-icon></button>

</mat-dialog-actions>
