<mat-toolbar color="primary">
    <mat-toolbar-row fixLayout="row">
        <span>SignUp</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>        
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="signupForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="signupForm.controls.name.touched && signupForm.controls.name.invalid">
                    <span *ngIf="signupForm.controls.name.errors.required">This field is mandatory</span>
                    <span *ngIf="signupForm.controls.name.errors.pattern">This field is invalid</span>
                </mat-error>

            </mat-form-field>

            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Contact Number</mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="signupForm.controls.contactNumber.touched && signupForm.controls.contactNumber.invalid">
                    <span *ngIf="signupForm.controls.contactNumber.errors.required">This field is mandatory</span>
                    <span *ngIf="signupForm.controls.contactNumber.errors.pattern">This field is invalid</span>
                </mat-error>

            </mat-form-field>

            <mat-form-field appearance="standard" fxFlex>
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="signupForm.controls.email.touched && signupForm.controls.email.invalid">
                    <span *ngIf="signupForm.controls.email.errors.required">This field is mandatory</span>
                    <span *ngIf="signupForm.controls.email.errors.pattern">This field is invalid</span>
                </mat-error>

            </mat-form-field>

            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Password</mat-label>
                <input matInput placeholder="password" [type]="password ? 'password' : 'text'" formControlName="password" required>
                <mat-icon matSuffix (click)="password = !password">{{password ? 'visibility_off' : 'visibility'}}</mat-icon>
                
                <mat-error *ngIf="signupForm.controls.password.touched && signupForm.controls.password.invalid">
                    
                    <span *ngIf="signupForm.controls.password.errors.required">This field is mandatory</span>
                    
                </mat-error>

            </mat-form-field>

            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="confirmPassword" [type]="password ? 'confirmPassword' : 'text'" formControlName="confirmPassword" required>
                <mat-icon matSuffix (click)="confirmPassword = !confirmPassword">{{confirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                
                <mat-error *ngIf="signupForm.controls.confirmPassword.touched && signupForm.controls.confirmPassword.invalid">
                    
                    <span *ngIf="signupForm.controls.confirmPassword.errors.required">This field is mandatory</span>                    
                </mat-error>
                <mat-hint *ngIf="validateSubmit() && !(signupForm.controls.confirmPassword.invalid)">
                    <span>New Password & Confirm Password does not match</span>
                </mat-hint>

            </mat-form-field>

        </div>
    </form>